$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

@import url(https://fonts.googleapis.com/css?family=Shadows+Into+Light+Two);

body {
  margin: 0;
  padding: 0;
  background-position: center center;
  width: 100%;
  height: 100%;
  display: block;
  overflow: hidden;
  background-color: black;
  /*background-image:url('../images/bg.png');*/
  /*http://www.deviantart.com/art/Lionel-Messi-Wallpaper-202167215*/
}

#loader-container{
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: #000;
  color: #DDD;
  z-index: 1000;
}

#svg-container{
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  z-index: 0;
}

#data-container{
  width: 100%;
}

.selectedMatch{
  fill:#fff;
}

.selectedGoal{
  fill:#fff !important;
}

.info-tooltip{
  display: block;
  position: absolute;
  text-align: center;
  opacity: 0;
  background-color: #fff;
  border: 1px dashed #ccc;
  p{
    margin: 0;
  }
}

.lineh,.linev{
  stroke: #ccc;
  stroke-width: 1;
  stroke-dasharray:3,3;
}

text.competition{
  fill:#fff;
}

path {
    fill: none;
    stroke: #ccc;
    stroke-width: 1px;
}

.totals-label{
  fill:#111;
  font-size: 200px;
}

.totals-label-assists{
  fill:#111;
  font-size: 120px;
}

h4.main-total{
  font-size: 100px;
  font-family: 'Shadows Into Light Two', cursive;
  color: #eee;
}

.modal-backdrop {
  background:transparent;
}

.modal-content{
  background-color: rgba(0,0,0,0.8);
}

.carousel-inner{
  overflow-x: hidden;
  overflow-y: scroll;
}
